.box {
  /* Responsive font-size */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-size-1: 80;
  --desktop-size-2: 80px;
  --mobile-size-1: 15;
  --mobile-size-2: 15px;
  --responsive-size: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-size-1) - var(--mobile-size-1))) + var(--mobile-size-2);
  font-size: clamp(var(--mobile-size-2), var(--responsive-size), var(--desktop-size-2));
}

.box {
  /* Responsive line-height */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-line-height-1: 80;
  --desktop-line-height-2: 80px;
  --mobile-line-height-1: 15;
  --mobile-line-height-2: 15px;
  --responsive-line-height: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-line-height-1) - var(--mobile-line-height-1))) + var(--mobile-line-height-2);
  line-height: clamp(var(--mobile-line-height-2), var(--responsive-line-height), var(--desktop-line-height-2));
}

.box {
  /* Responsive min-height */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-min-height-1: 600;
  --desktop-min-height-2: 600px;
  --mobile-min-height-1: 150;
  --mobile-min-height-2: 150px;
  --responsive-min-height: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-min-height-1) - var(--mobile-min-height-1))) + var(--mobile-min-height-2);
  min-height: clamp(var(--mobile-min-height-2), var(--responsive-min-height), var(--desktop-min-height-2));
}

.box {
  /* Responsive height */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-height-1: 600;
  --desktop-height-2: 600px;
  --mobile-height-1: 150;
  --mobile-height-2: 150px;
  --responsive-height: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-height-1) - var(--mobile-height-1))) + var(--mobile-height-2);
  height: clamp(var(--mobile-height-2), var(--responsive-height), var(--desktop-height-2));
}

.box {
  /* Responsive max-height */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-max-height-1: 600;
  --desktop-max-height-2: 600px;
  --mobile-max-height-1: 150;
  --mobile-max-height-2: 150px;
  --responsive-max-height: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-max-height-1) - var(--mobile-max-height-1))) + var(--mobile-max-height-2);
  max-height: clamp(var(--mobile-max-height-2), var(--responsive-max-height), var(--desktop-max-height-2));
}


.box {
  /* Responsive min-width */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-min-width-1: 80;
  --desktop-min-width-2: 80px;
  --mobile-min-width-1: 15;
  --mobile-min-width-2: 15px;
  --responsive-min-width: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-min-width-1) - var(--mobile-min-width-1))) + var(--mobile-min-width-2);
  min-width: clamp(var(--mobile-min-width-2), var(--responsive-min-width), var(--desktop-min-width-2));
}

.box {
  /* Responsive width */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-width-1: 80;
  --desktop-width-2: 80px;
  --mobile-width-1: 15;
  --mobile-width-2: 15px;
  --responsive-width: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-width-1) - var(--mobile-width-1))) + var(--mobile-width-2);
  width: clamp(var(--mobile-width-2), var(--responsive-width), var(--desktop-width-2));
}

.box {
  /* Responsive max-width */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-max-width-1: 80;
  --desktop-max-width-2: 80px;
  --mobile-max-width-1: 15;
  --mobile-max-width-2: 15px;
  --responsive-max-width: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-max-width-1) - var(--mobile-max-width-1))) + var(--mobile-max-width-2);
  max-width: clamp(var(--mobile-max-width-2), var(--responsive-max-width), var(--desktop-max-width-2));
}

.box {
  /* Responsive padding-top */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-padding-top-1: 80;
  --desktop-padding-top-2: 80px;
  --mobile-padding-top-1: 15;
  --mobile-padding-top-2: 15px;
  --responsive-padding-top: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-padding-top-1) - var(--mobile-padding-top-1))) + var(--mobile-padding-top-2);
  padding-top: clamp(var(--mobile-padding-top-2), var(--responsive-padding-top), var(--desktop-padding-top-2));
}

.box {
  /* Responsive padding-right */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-padding-right-1: 80;
  --desktop-padding-right-2: 80px;
  --mobile-padding-right-1: 15;
  --mobile-padding-right-2: 15px;
  --responsive-padding-right: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-padding-right-1) - var(--mobile-padding-right-1))) + var(--mobile-padding-right-2);
  padding-right: clamp(var(--mobile-padding-right-2), var(--responsive-padding-right), var(--desktop-padding-right-2));
}

.box {
  /* Responsive padding-bottom */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-padding-bottom-1: 80;
  --desktop-padding-bottom-2: 80px;
  --mobile-padding-bottom-1: 15;
  --mobile-padding-bottom-2: 15px;
  --responsive-padding-bottom: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-padding-bottom-1) - var(--mobile-padding-bottom-1))) + var(--mobile-padding-bottom-2);
  padding-bottom: clamp(var(--mobile-padding-bottom-2), var(--responsive-padding-bottom), var(--desktop-padding-bottom-2));
}

.box {
  /* Responsive padding-left */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-padding-left-1: 80;
  --desktop-padding-left-2: 80px;
  --mobile-padding-left-1: 15;
  --mobile-padding-left-2: 15px;
  --responsive-padding-left: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-padding-left-1) - var(--mobile-padding-left-1))) + var(--mobile-padding-left-2);
  padding-left: clamp(var(--mobile-padding-left-2), var(--responsive-padding-left), var(--desktop-padding-left-2));
}

.box {
  /* Responsive margin-top */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-margin-top-1: 80;
  --desktop-margin-top-2: 80px;
  --mobile-margin-top-1: 15;
  --mobile-margin-top-2: 15px;
  --responsive-margin-top: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-margin-top-1) - var(--mobile-margin-top-1))) + var(--mobile-margin-top-2);
  margin-top: clamp(var(--mobile-margin-top-2), var(--responsive-margin-top), var(--desktop-margin-top-2));
}

.box {
  /* Responsive margin-right */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-margin-right-1: 80;
  --desktop-margin-right-2: 80px;
  --mobile-margin-right-1: 15;
  --mobile-margin-right-2: 15px;
  --responsive-margin-right: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-margin-right-1) - var(--mobile-margin-right-1))) + var(--mobile-margin-right-2);
  margin-right: clamp(var(--mobile-margin-right-2), var(--responsive-margin-right), var(--desktop-margin-right-2));
}

.box {
  /* Responsive margin-bottom */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-margin-bottom-1: 80;
  --desktop-margin-bottom-2: 80px;
  --mobile-margin-bottom-1: 15;
  --mobile-margin-bottom-2: 15px;
  --responsive-margin-bottom: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-margin-bottom-1) - var(--mobile-margin-bottom-1))) + var(--mobile-margin-bottom-2);
  margin-bottom: clamp(var(--mobile-margin-bottom-2), var(--responsive-margin-bottom), var(--desktop-margin-bottom-2));
}

.box {
  /* Responsive margin-left */
  --desktop-layout: 1600;
  --responsive-layout-1: 320px;
  --responsive-layout-2: 320;
  --desktop-margin-left-1: 80;
  --desktop-margin-left-2: 80px;
  --mobile-margin-left-1: 15;
  --mobile-margin-left-2: 15px;
  --responsive-margin-left: (100vw - var(--responsive-layout-1)) / ((var(--desktop-layout) - var(--responsive-layout-2)) / (var(--desktop-margin-left-1) - var(--mobile-margin-left-1))) + var(--mobile-margin-left-2);
  margin-left: clamp(var(--mobile-margin-left-2), var(--responsive-margin-left), var(--desktop-margin-left-2));
}
